body {
    background: lightskyblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.assignment {
    display:flex;
    padding: 20px;
    margin: 20px;
    background:whitesmoke;
}

.assignment img{
    width: 500px;
    padding: 20px;
}

h1 {
color: darkslateblue;
text-align:center;
}
